In [1]:
import pandas as pd
import numpy as np
exam = pd.read_csv('exam.csv')

In [2]:
exam.assign(total = exam['front']+ exam['back'] + exam['design'])

    id  nclass  front  back  design  total
0    1       1     50    98      50    198
1    2       1     60    97      60    217
2    3       1     45    86      78    209
3    4       1     30    98      58    186
4    5       2     25    80      65    170
5    6       2     50    89      98    237
6    7       2     80    90      45    215
7    8       2     90    78      25    193
8    9       3     20    98      15    133
9   10       3     50    98      45    193
10  11       3     65    65      65    195
11  12       3     45    85      32    162
12  13       4     46    98      65    209
13  14       4     48    87      12    147
14  15       4     75    56      78    209
15  16       4     58    98      65    221
16  17       5     65    68      98    231
17  18       5     80    78      90    248
18  19       5     89    68      87    244
19  20       5     78    83      58    219

In [4]:
exam.assign(
    total = exam['front'] + exam['back'] +exam['design'],
    mean = (exam['front'] +exam['back']+exam['design']/3)
)

    id  nclass  front  back  design  total        mean
0    1       1     50    98      50    198  164.666667
1    2       1     60    97      60    217  177.000000
2    3       1     45    86      78    209  157.000000
3    4       1     30    98      58    186  147.333333
4    5       2     25    80      65    170  126.666667
5    6       2     50    89      98    237  171.666667
6    7       2     80    90      45    215  185.000000
7    8       2     90    78      25    193  176.333333
8    9       3     20    98      15    133  123.000000
9   10       3     50    98      45    193  163.000000
10  11       3     65    65      65    195  151.666667
11  12       3     45    85      32    162  140.666667
12  13       4     46    98      65    209  165.666667
13  14       4     48    87      12    147  139.000000
14  15       4     75    56      78    209  157.000000
15  16       4     58    98      65    221  177.666667
16  17       5     65    68      98    231  165.666667
17  18       5     80    78      90    248  188.000000
18  19       5     89    68      87    244  186.000000
19  20       5     78    83      58    219  180.333333

In [5]:
exam.assign(test = np.where(exam['design'] >= 60, 'pass', 'fail'))

    id  nclass  front  back  design  test
0    1       1     50    98      50  fail
1    2       1     60    97      60  pass
2    3       1     45    86      78  pass
3    4       1     30    98      58  fail
4    5       2     25    80      65  pass
5    6       2     50    89      98  pass
6    7       2     80    90      45  fail
7    8       2     90    78      25  fail
8    9       3     20    98      15  fail
9   10       3     50    98      45  fail
10  11       3     65    65      65  pass
11  12       3     45    85      32  fail
12  13       4     46    98      65  pass
13  14       4     48    87      12  fail
14  15       4     75    56      78  pass
15  16       4     58    98      65  pass
16  17       5     65    68      98  pass
17  18       5     80    78      90  pass
18  19       5     89    68      87  pass
19  20       5     78    83      58  fail

In [7]:
exam.assign(total = exam['front'] + exam['back'] +exam['design'])\
            .sort_values('total')

    id  nclass  front  back  design  total
8    9       3     20    98      15    133
13  14       4     48    87      12    147
11  12       3     45    85      32    162
4    5       2     25    80      65    170
3    4       1     30    98      58    186
9   10       3     50    98      45    193
7    8       2     90    78      25    193
10  11       3     65    65      65    195
0    1       1     50    98      50    198
2    3       1     45    86      78    209
12  13       4     46    98      65    209
14  15       4     75    56      78    209
6    7       2     80    90      45    215
1    2       1     60    97      60    217
19  20       5     78    83      58    219
15  16       4     58    98      65    221
16  17       5     65    68      98    231
5    6       2     50    89      98    237
18  19       5     89    68      87    244
17  18       5     80    78      90    248

In [ ]:
exam.assign(total = exam['front'] + exam['back'] +exam['design'],
            mean = lambda x:x['total']/3)